extends layout
include ../common/user_list

block nav
   +navigation("home")
block content
    
    .container(ng-controller="ERAdminController as app",ng-init="app.user= #{JSON.stringify(user)}")
        

         +userlist()                        