extends layout

block nav
    +navigation("participant_pumps")
    
block content
     .container
       .panel.panel-default
         .panel-heading
           h1 Pump listings
         .panel-body
            .alert.alert-warning Pump listings not available yet