extends layout

block nav
    h1 Administration Portal Home
    p Logged in as #{user.name.first} #{user.name.last} / #{user.email}
    p: a(href="/") Home
    p: a(href="/logout") Logout

block content
     .container
       .panel.panel-default
         .panel-heading
           h1 Pump listings
         .panel-body
            .alert.alert-warning Pump listings not available yet