
mixin calculator(er)
  
  //- bring in required scripts and css for the calculator itself

  //- add angular controller here
  .container(ng-controller="PEIController as app").pei
    
    .panel.panel-default.solo
        .panel-heading
            h1 Pump Energy Index Calculator
        
        //- each panel body is shown at various times throughout the calculation
        .panel-body(ng-show="app.step=='configuration'")
            .row
              .col.col-xs-12
                fieldset
                  legend Configuration selection
            .row 
              .form-group
                .col.col-xs-5
                    label.text-primary Configuration:
                .col.col-xs-7
                    select.form-control(name="configuration", data-width="auto", ng-model="app.configuration", ng-options="config as config.label for config in app.configurations track by config.value")
                     
            hr           
            .row
              .col.col-xs-12
                button.btn.btn-primary(type="button", ng-disabled="!app.configuration", ng-click="app.go2MotorMethod()") Next


        .panel-body(ng-show="app.step=='motor_method'")
            .row
              .col.col-xs-12
                fieldset
                  legend Motor performance method
            .row 
              
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.configuration.label}}
            hr 
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary How is motor performance determined?  
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.motor_method", value="tested") 
                      | Tested
                    label.radio-inline
                      input(type="radio" ng-model="app.motor_method", value="calculated") 
                      | Calculated
            hr
            .row
              .col.col-xs-10
                button.btn.btn-primary(type="button", ng-click="app.go2Options()") Next
                button.btn.btn-default.btn-space(type="button", ng-click="app.go2Configuration(true)") Back
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over

        .panel-body(ng-show="app.step=='options'")
            .row
              .col.col-xs-12
                fieldset
                  legend Option selection
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.configuration.label}}
            .row(ng-show="app.motor_method_required()")
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Can the pump be tested at 120% of BEP flow?  
                  .col.col-xs-7
                    div.radio
                      label
                        input(type="radio" ng-model="app.load120", value="true") 
                        | Yes (75% / 100% / 110% load points)
                    div.radio
                      label.radio
                        input(type="radio" ng-model="app.load120", value="false") 
                        | No (65% / 90% / 100% load points)
            hr 
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Nominal speed of rotation
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.speed", value="3600") 
                      | 3600 rpm
                    label.radio-inline
                      input(type="radio" ng-model="app.speed", value="1800") 
                      | 1800 rpm
                        
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Number of stages tested
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="1", name="stages")

            
                    
                    
            .row
                hr
                .form-group
                  .col.col-xs-5
                    label.text-primary DOE Pump Category 
                  .col.col-xs-7
                    select.form-control(ng-model="app.doe", data-width="auto", ng-options="opt as opt.label for opt in app.doe_opts track by opt.value")
                        option(value="")  
                hr(ng-show="app.doe.value!='ST'") 
            
           
            .row(ng-show="app.doe.value=='ST'")
                .form-group
                  .col.col-xs-5
                    label.text-primary Bowl diameter (inches)
                  .col.col-xs-7
                    select.form-control(ng-model="bowl_diameter", data-width="auto", ng-options="val as (val+'\"') for val in [1, 2, 3, 4, 6] track by val")
                        option(value="")
                hr(ng-show="app.doe.value=='ST'") 

            



            .row(ng-show="app.configuration.value != 'bare'")
               
                .form-group
                  .col.col-xs-5
                    label.text-primary Is motor regulated under 10CFR 431.25?
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.motor_regulated", value="true") 
                      | Yes
                    label.radio-inline
                      input(type="radio" ng-model="app.motor_regulated", value="false") 
                      | No
            
            

            .row(ng-show="app.configuration.value != 'bare'")
                .form-group
                  .col.col-xs-5
                    label.text-primary Rated Motor Power used for default losses or Nameplate Rated Motor Power 
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="0", name="motor_power_rated")
                hr(ng-hide="app.doe.value != 'ST' && app.motor_regulated =='false'")

            .row(ng-show="app.doe.value != 'ST' && app.motor_regulated =='false'")
                .form-group
                  .col.col-xs-5
                    label.text-primary  Nominal nameplate motor efficiency
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="0", name="motor_power_rated")
                hr
            


            
            
            .row
               
                .form-group
                  .col.col-xs-5
                    label.text-primary Basic Model Designation
                  .col.col-xs-7.col-sm-4
                    input.form-control(type="text", name="model")
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Model Full Impeller Diameter (in)
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="0", step=".0625", name="modeldia")

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary HI Approved Laboratory Registration Number
                  .col.col-xs-7.col-sm-4
                    input.form-control(type="text", name="lab")
                
            

            hr
            .row
              .col.col-xs-10
                button.btn.btn-primary(type="button", ng-click="app.go2Data()") Next
                button.btn.btn-default.btn-space(type="button", ng-click="app.go2MotorMethod(true)") Back
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over
          

        .panel-body(ng-show="app.step=='data'")
            .row
              .col.col-xs-12
                fieldset
                  legend Load point data entry
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.configuration.label}}
            .row(ng-show="app.motor_method_required()")
                
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 

            
            .row
               .col.col-xs-12
                 table.table
                   thead
                     tr
                       th.col-label Value at Nominal Speed of Rotation
                       th {{app.load120 == "true" ? "@ 75% BEP" : "@ 60% BEP"}}
                       th {{app.load120 == "true" ? "@ 100% BEP" : "@ 90% BEP"}}
                       th {{app.load120 == "true" ? "@ @ 110% BEP" : "@ 100% BEP"}}
                    tbody
                      tr
                       td.col-label Rate of flow (gpm)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                      tr
                       td.col-label Head (ft) 
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                     tr
                       td.col-label Control Power Input (hp)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                
            .row(ng-show="app.section=='3'")
              .form-group
               .col.col-xs-5
                 label Pump Power Input @ 120% of BEP Rate of Flow (hp)
               .col.col-xs-7
                    input.form-control(ng-model="app.power_at_120BEP", type="number")

            .row(ng-show="app.section=='6a' || app.section=='6b'")
               .col.col-xs-12
                 table.table
                   thead
                     tr
                       th.col-label Measured value
                       th @ 25% BEP target
                       th @ 50% BEP target
                       th @ 75% BEP target
                    tbody
                     tr
                       td.col-label Load flow rate (gpm)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                      tr
                       td.col-label Load head (ft) 
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                     tr
                       td.col-label Power input (hp)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
            hr
            .row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Results()").btn.btn-danger Calculate PEI
                  button(type="button", ng-click="app.go2Options(true)").btn.btn-default.btn-space Back
               .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over


        .panel-body(ng-show="app.step=='results'")
            row
               .col.col-xs-12
                .alert.alert-success Results will be coming soon...

            row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Data(true)").btn.btn-default.btn-space Back
               .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over
