
mixin calculator(er)
  
  //- bring in required scripts and css for the calculator itself

  //- add angular controller here
  .container(ng-controller="PEIController as app", ng-init="app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}; app.setup(#{JSON.stringify(pump)})").pei
    form(action="submit", method="post", name="new_pump_pei")
     .panel.panel-default.solo
        .panel-heading
            h1 Pump Energy Index Calculator
        
        //---------------------------------------------------------------
        //- Step 1 - Choosing Configuration
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='configuration'")
            input(type="hidden", name="pump[_id]", ng-model="app.pump._id")
            input(id="pump_pei", type="hidden", name="pump[pei]", ng-model="app.pump.pei")
            input(id="pump_energy_rating", type="hidden", name="pump[energy_rating]", ng-model="app.pump.energy_rating")

            .row
              .col.col-xs-12
                fieldset
                  legend Pump listing data
            .row 
              .form-group
                .col.col-xs-5
                    label.text-primary Organization / Participant:
                .col.col-xs-7
                    input.form-control(type="text", name="pump[participant]", ng-model="app.pump.participant", ng-readonly="app.participant")
            .row 
              .form-group
                .col.col-xs-5
                    label.text-primary Configuration:
                .col.col-xs-7
                    select.form-control(name="pump[configuration]", data-width="auto", ng-model="app.pump.configuration", ng-options="config as config.label for config in app.configurations track by config.value")
            
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label.text-primary Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
            .row
               
                .form-group
                  .col.col-xs-5
                    label.text-primary Basic Model Designation
                  .col.col-xs-7.col-sm-4
                    input.form-control(type="text" ng-model="app.pump.basic_model" name="pump[basic_model]")
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Model Full Impeller Diameter (in)
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number" ng-model="app.pump.diameter", min="0", step=".0625", name="pump[diameter]")

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Nominal speed of rotation
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.speed", value="3600", name="pump[speed]") 
                      | 3600 rpm
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.speed", value="1800", name="pump[speed]") 
                      | 1800 rpm
                        
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary HI Approved Laboratory Registration Number
                  .col.col-xs-7.col-sm-4
                    input.form-control(ng-model="app.pump.laboratory", name="pump[laboratory]")     
            
            hr
            .row
              .col.col-xs-12
                button.btn.btn-primary(type="button", ng-disabled="!app.pump.configuration", ng-click="app.go2MotorMethod()") Next


        //---------------------------------------------------------------
        //- Step 2 - Motor Performance method -> Calculation Section selected
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='motor_method'")
            .row
              .col.col-xs-12
                fieldset
                  legend Motor performance method
            
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic Model Designation:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} inches @ {{app.pump.speed}} rpm
            hr 
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary How is motor performance determined?  
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.motor_method", value="tested") 
                      | Tested
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.motor_method", value="calculated") 
                      | Calculated
            hr
            .row
              .col.col-xs-10
                button.btn.btn-default(type="button", ng-click="app.go2Configuration(true)") Back
                button.btn.btn-primary.btn-space(type="button", ng-click="app.go2Options()") Next
                
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over


        //---------------------------------------------------------------
        //- Step 3 - All additional options
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='options'")
            .row
              .col.col-xs-12
                fieldset
                  legend Option selection
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic Model Designation:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} inches @ {{app.pump.speed}} rpm

            .row(ng-show="app.motor_method_required()")
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.pump.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 
            
            
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Number of stages tested
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="1", name="pump[stages]", ng-model="app.pump.stages")

            
                    
                    
            .row
                hr
                .form-group
                  .col.col-xs-5
                    label.text-primary DOE Pump Category 
                  .col.col-xs-7
                    select.form-control(ng-model="app.pump.doe", data-width="auto", ng-options="opt as opt.label for opt in app.doe_opts track by opt.value")
                        option(value="")  
               
            
              
            .row(ng-show="app.pump.doe.value=='ST'")
                .form-group
                  .col.col-xs-5
                    label.text-primary Bowl diameter (inches)
                  .col.col-xs-7
                    select.form-control(ng-model="app.pump.bowl_diameter", data-width="auto", ng-options="val as (val+'\"') for val in [1, 2, 3, 4, 6] track by val")
                        option(value="")
              
          


            .row(ng-show="app.pump.configuration.value != 'bare' && app.pump.doe.value != 'ST'")
                .form-group
                  .col.col-xs-5
                    label.text-primary Is motor regulated under 10CFR 431.25?
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.motor_regulated", value="true") 
                      | Yes
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.motor_regulated", value="false") 
                      | No
            
            

            .row(ng-show="app.pump.configuration.value != 'bare'")
                .form-group
                  .col.col-xs-5
                    label.text-primary Rated Motor Power used for default losses or Nameplate Rated Motor Power 
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="0", name="pump[motor_power_rated]", ng-model="app.pump.motor_power_rated")
                hr(ng-hide="app.pump.doe.value != 'ST' && app.pump.motor_regulated =='false'")

            .row(ng-show="app.pump.doe.value != 'ST' && app.pump.motor_regulated =='false'")
                .form-group
                  .col.col-xs-5
                    label.text-primary  Nominal nameplate motor efficiency
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="0", name="motor_power_rated")
                

            hr
            .row
              .col.col-xs-10
                button.btn.btn-default(type="button", ng-click="app.go2MotorMethod(true)") Back
                button.btn.btn-primary.btn-space(type="button", ng-click="app.go2Data()") Next
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over
          

        .panel-body(ng-show="app.step=='data'")
            .row
              .col.col-xs-12
                fieldset
                  legend Load point data entry
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}

            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic Model Designation:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} inches @ {{app.pump.speed}} rpm


            .row(ng-show="app.motor_method_required()")
                
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.pump.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Can the pump be tested at 120% of BEP flow?  
                  .col.col-xs-7
                    div.radio
                      label
                        input(type="radio" ng-model="app.pump.load120", value="true") 
                        | Yes (75% / 100% / 110% load points)
                    div.radio
                      label.radio
                        input(type="radio" ng-model="app.pump.load120", value="false") 
                        | No (65% / 90% / 100% load points)
            hr
            .row
               .col.col-xs-12
                .table-responsive
                 table.table
                   thead
                     tr
                       th.col-label Value at Nominal Speed of Rotation
                       th {{app.pump.load120 == "true" ? "@ 75% BEP" : "@ 60% BEP"}}
                       th {{app.pump.load120 == "true" ? "@ 100% BEP" : "@ 90% BEP"}}
                       th {{app.pump.load120 == "true" ? "@ @ 110% BEP" : "@ 100% BEP"}}
                    tbody
                      tr
                       td.col-label Rate of flow (gpm)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                      tr
                       td.col-label Head (ft) 
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                     tr
                       td.col-label Control Power Input (hp)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                
            .row(ng-show="app.section=='3'")
              .form-group
               .col.col-xs-5
                 label Pump Power Input @ 120% of BEP Rate of Flow (hp)
               .col.col-xs-7
                    input.form-control(ng-model="app.pump.power_at_120BEP", type="number")

            .row(ng-show="app.pump.section=='6a' || app.pump.section=='6b'")
               .col.col-xs-12
                 table.table
                   thead
                     tr
                       th.col-label Measured value
                       th @ 25% BEP target
                       th @ 50% BEP target
                       th @ 75% BEP target
                    tbody
                     tr
                       td.col-label Load flow rate (gpm)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                      tr
                       td.col-label Load head (ft) 
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                     tr
                       td.col-label Power input (hp)
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
                       td: input.form-control(type="text")
            hr
            .row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Options(true)").btn.btn-default Back
                  button(type="button", ng-click="app.go2Results()").btn.btn-danger.btn-space Calculate PEI
                  
               .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over

        if (er)
          .panel-body(ng-show="app.step=='results'")
            row
               .col.col-xs-12
                 .alert.alert-success Since this is an Energy rating listing, PEI and Energy Rating will be listed here.  Clicking save will result in the pump being listed in the participant's pump listing

            row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Data(true)").btn.btn-default.btn-space Back
               .col.col-xs-2
                  button(type="button", ng-click="app.submitListing()").btn.btn-danger.btn-space Save pump listing

        else
          .panel-body(ng-show="app.step=='results'")
            row
               .col.col-xs-12
                .alert.alert-success PEI Results will be coming soon...

            row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Data(true)").btn.btn-default.btn-space Back
               .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over