doctype html

include calculator

html(ng-app='PEIApp')
  head
    title Hydraulic Institute - PEI Calculator
    include ../global_includes

    
    
  body

    +calculator(false, "calculator")
     
     