extends layout



block content
    .container
        .panel.panel-warning.solo
            .panel-heading
                h1 Account has been disabled
            .panel-body
                p Your organization's account has been disabled by an HI Administrator.  You will need to contact the HI to have this account reinstated.  Note that this is not specific to your individual user account - this organization's entire account is disabled.

                p 
                 | You may still access the public portion of the 
                 a(href="/ratings/home") HI Energy Ratings Program