extends layout



block content
    .container
        .panel.panel-danger.solo
            .panel-heading
                if messages.errorTitle
                    h1 #{messages.errorTitle}
                else
                    h1 An error has occured
            .panel-body
                
                if messages.errorMessage
                    .alert.text-danger #{messages.errorMessage}
                else 
                    .alert.text-danger There was no additional detail associated with this error.

                .alert 
                 | Please return to the 
                 a(href="/") Energy Ratings home page 
                 | to continue to use this application.