link(rel="shortcut icon", href="/images/favicon.ico" type="image/x-icon")  
link(rel="icon", href="/images/favicon.ico", type="image/x-icon")

meta(charset="utf-8")
meta(http-equiv="Pragma", content="no-cache")
meta(http-equiv="Cache-Control", content="no-cache")
meta(http-equiv="Expires", content="Sat, 01 Dec 2001 00:00:00 GMT")

meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,900")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href="/stylesheets/app.css")
link(rel="stylesheet", href="/stylesheets/bootstrap-switch.min.css")
link(rel="stylesheet", href="/stylesheets/rzslider.css")

link(href="https://fonts.googleapis.com/css?family=Arimo:400,700", rel="stylesheet")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

script(src="/scripts/er.js")
script(src="/scripts/peiApp.js")
script(src="/scripts/units.js")

script(src="/scripts/bootstrap-switch.min.js")

script(type="text/javascript", src="https://canvg.github.io/canvg/rgbcolor.js")
script(type="text/javascript", src="https://canvg.github.io/canvg/StackBlur.js")
script(type="text/javascript", src="https://canvg.github.io/canvg/canvg.js")
script(type="text/javascript", src="/scripts/svg_todataurl.js")

script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")


include common/help

mixin unit_switch()
 li
   .navbar-text
    .btn-group.btn-group-xs
      button(type="button", class=(unit_set == 'US' ? 'btn us_unit_switch btn-primary' : 'btn us_unit_switch btn-default') title="Show all values in standard US units") US
      button(type="button", class=(unit_set == 'METRIC' ? 'btn metric_unit_switch btn-primary' : 'btn metric_unit_switch btn-default') title="Show all values in standard metric units") Metric