link(rel="shortcut icon", href="/images/favicon.ico" type="image/x-icon")  
link(rel="icon", href="/images/favicon.ico", type="image/x-icon")

meta(charset="utf-8")
meta(http-equiv="Pragma", content="no-cache")
meta(http-equiv="Cache-Control", content="no-cache")
meta(http-equiv="Expires", content="Sat, 01 Dec 2001 00:00:00 GMT")

meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,900")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href="/stylesheets/app.css")
link(rel="stylesheet", href="/stylesheets/bootstrap-switch.min.css")
link(rel="stylesheet", href="/stylesheets/rzslider.css")
link(rel="stylesheet", href="/stylesheets/nouislider.min.css")


link(href="https://fonts.googleapis.com/css?family=Arimo:400,700", rel="stylesheet")

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

script(src="/scripts/er.js")
script(src="/scripts/peiApp.js")
script(src="/scripts/units.js")
script(src="/scripts/language.js")

script(src="/scripts/bootstrap-switch.min.js")

script(type="text/javascript", src="/scripts/stackblur.js")
script(type="text/javascript", src="/scripts/rgbcolor.js")
script(src="/scripts/canvg.js")
script(type="text/javascript", src="/scripts/svg_todataurl.js")
script(type="text/javascript", src="/scripts/lister.js")
script(type="text/javascript", src="/scripts/nouislider.min.js")
script(src="/scripts/moment.min.js")
script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js")


include common/help

mixin unit_switch()
 if certificate_cart_exists
  li
    a(href='/ratings/certificates/cart')
      .glyphicon.glyphicon-shopping-cart(style='margin-right:5px')
      span Certificate Checkout

 li
   .navbar-text
    .btn-group.btn-group-xs
      button(type="button", class=(unit_set == 'US' ? 'btn us_unit_switch btn-toggle-on' : 'btn us_unit_switch btn-dark') title="Show all values in standard US units") US
      button(type="button", class=(unit_set == 'METRIC' ? 'btn metric_unit_switch btn-toggle-on' : 'btn metric_unit_switch btn-dark') title="Show all values in standard metric units") Metric

mixin language_switch(active)
  if active == 'pump' || active == 'participant_pump'
    li
      .navbar-text
        .btn-group.btn-group-xs 
          button(type='button', data-lang='en', class=(label_lang == 'en' ? 'btn lang_switch btn-toggle-on' : 'btn lang_switch btn-dark') title='English labels') English
          button(type='button', data-lang='fr', class=(label_lang == 'fr' ? 'btn lang_switch btn-toggle-on' : 'btn lang_switch btn-dark') title='French labels') French

mixin qplInfo_modal()
  .modal.fade#qpl-info(tabindex='-1', role='dialog' aria-labelledby='titleLabel')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button(type='button', class='close' data-dismiss='modal') &times;
                h4.modal-title#title Qualified Product List (QPL) 
            .modal-body  
              | The pump models listed in the HI Energy Rating Database can be utilized by utilities and incentive program implementers to create qualified product lists for pump incentive programs.
              | All listed models have been tested at approved test labs in accordance with HI 40.7.<br><br>
              | Click the <i>Request a QPL</i> button to submit a request to periodically receive a spreadsheet of pump models in the HI Energy Rating Database that includes the models, the energy rating, PEI and CEE Tier.

mixin qplInfo_button()
  ul.nav.navbar-right 
   li(style="margin-right:10px;")
    .btn-group.btn-group-xs
      a(href="#")
        button.btn-warning.btn-sm(style="color:black;font-weight:bold;margin-left:5px;",type="button") 
          | Request a QPL
      a(href="#")
        .glyphicon.glyphicon-question-sign(id="qpliconinfo", style="margin-left:5px;",type="button", title="Click for information", data-toggle="modal", data-target="#qpl-info")
        