doctype html
html
  head
    
    include global_includes
    

    
    block styles
      
    title Hydraulic Institute - Energy Ratings Program
    block script
    
  body
     .ratings-bar
      .pull-left
        a(href="/pei") PEI Calculator
      .pull-right
        a(href="/ratings") Public Energy Rating Listings
     block content