doctype html
html
  head
    
    include global_includes
    
    script(src="/scripts/regApp.js")
    
    
    
    block styles
      
    title Hydraulic Institute - Energy Ratings Program
    block script
    
  body
     block content