extends layout
block nav
	+navigation("utility")
block script
		script.
				
				new Vue({
					el: '#vue',
					data: {
						count: 0,
						search: {
							min: 0,
							max: 335,
						},
						searching: false
					},
					

					mounted: function () {
						this.countPumps();
						const v = this;

						const ranger = document.getElementById('ranger');

						noUiSlider.create(ranger, {
								start: [0, 335],
								connect: [false, true, false],
								step: 1,
								range: {
										'min': [0],
										'max': [335]
								}
						});
						ranger.noUiSlider.on('update', function () {
								const vals = ranger.noUiSlider.get();
								v.search.min = parseInt(vals[0]);
								v.search.max = parseInt(vals[1]);
						});
						ranger.noUiSlider.on('end', function () {
								const vals = ranger.noUiSlider.get();
								v.search.min = parseInt(vals[0]);
								v.search.max = parseInt(vals[1]);
								v.countPumps();
						});
					},
					methods: {
						countPumps: function() {
							this.searching = true;

							const v = this;
							$.ajax({
								method: 'post',
								url: '/circulator/ratings/utilities/',
								data: JSON.stringify(this.search),
								headers: {
										'Content-Type': 'application/json'
								},
							}).fail(function (err, body) {
									console.error(err);
									v.searching = false;
							}).done(function (data) {
									v.searching = false;
									v.count = data.count;
							});
						}
					}
				});
block content
	div
		.container#vue
			form.form-horizontal
				.panel.panel-default.hi-panel-search.rating_panel
					.panel-heading
							.heading
								img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), width="600").hidden-xs
								img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), style="width:80%").hidden-md.hidden-lg.hidden-sm
					.panel-body
						ul.nav.nav-tabs(style='margin-bottom:20px')
							li
								a(href="/ratings/utilities") C&amp;I Pumps
							li.active
								a(href="#") Circulator Pumps
							+qplInfo_button()
						.form-group
							label.col-sm-3.control-label Energy rating range
							.col.col-sm-9(style="padding-top:5px")
								.row
									.col-xs-2.text-right
										p {{search.min}}
									.col-xs-8
										#ranger
									.col-xs-2
										p {{search.max}}
						hr
						.form-group
							label.col-sm-3.control-label 
							.col.col-sm-6(v-if='!searching')
								h2.utility_search_count {{count}} pumps found
								p.text-info(v-if="count == 1") There is {{count}} pump in listed in the HI Energy Ratings program that fit the criteria you've specified above.
								p.text-info(v-if="count != 1") There are {{count}} pumps in listed in the HI Energy Ratings program that fit the criteria you've specified above.
							.col.col-sm-6(v-else="app.counting")
								p: img(src="/images/loading-bar.gif")

			+qplInfo_modal()