extends layout
block nav
     +navigation("home")
block content
  div.ng-cloak(ng-app='ERRatingsApp')
    .container(ng-controller="ERRatingsController as app",ng-init="app.search= #{JSON.stringify(search)}; app.load_search()")
        form.form-horizontal
         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/hydraulic-institute-logo.png", width="500").hidden-xs
                img(src="/images/hydraulic-institute-logo.png", style="width:80%").hidden-md.hidden-lg.hidden-sm
                h3 ENERGY RATINGS PROGRAM

          .panel-body
            .row
              .col.col-sm-12
                p 
                 | HI developed the standard, HI 40.6, for testing pumps and determining their efficiency in a uniform and consistent manner.  The US Department of Energy (DOE) published an Energy Conservation Standard (ECS) and Uniform Test Procedure (TP) for Pumps on January 27, 2016; and in the uniform test procedure, HI 40.6 is incorporated by reference.  The ECS and TP can be referenced at 10 CFR 431.465 and 10 CFR 431.464 & Appendix A to Subpart Y.  
                 a(href="http://www.ecfr.gov") www.ecfr.gov
                p 
                 | HI manages a Pump Test Lab Approval Program (PTLAP) (HI 40.7, 
                 a(href="http://www.pumps.org/40.7") www.pumps.org/40.7
                 | ), which enables pump test laboratories to establish through a third party that they have the knowledge, tools and processes in place, and are testing according to the HI Standard 40.6 and managing their measurement equipment according to ISO 17025.
                p
                 | The HI Energy Rating (ER) Program (HI 40.5, 
                 a(href="http://www.pumps.org/40.5") www.pumps.org/40.5
                 |  builds on the ECS, TP and HI PTLAP. The HI ER Program defines process to participate in the program, scope of the program and requirements to list pumps with an Energy Rating.
                p As part of the program, this website allows corporations to apply to participate through the ER Program Portal, and the public to search for pump energy rating listings, and analyze the distribution of pumps in the program.

                //- p The HI 40.5 Program Guide for the HI Pump Energy Rating Program can be freely downloaded by clicking here.
                
            .row.ratings_home
              .col.col-sm-4
                a(href="/portal")
                    h1 
                        .glyphicon.glyphicon-log-in.margin-right
                        | ER Program Portal
                    p Register as an Energy Rating Program participant to create pump energy rating labels, QR codes, and more.
              .col.col-sm-4
                a(href="/ratings/search")
                    h1 
                        .glyphicon.glyphicon-search.margin-right
                        | Search Pumps
                    p Search for pumps by Basic Model Number, Manufacturer, and Rating ID - which can be found on the Hydraulic Energy Rating label distributed with the pump.
              .col.col-sm-4
                a(href="/ratings/utilities")
                    h1 
                        .glyphicon.glyphicon-stats.margin-right
                        | Utility Search
                    p Analyze the Energy Ratings database to see how many pumps achieve a given Energy Rating range.  This is especially helpful for utilities.
          