doctype html
html
  head
    
    include ../global_includes
    
    
    block styles
      
    title HI Energy Ratings Program
    block script
    
  body.ratings

     block content
     
     script(src="/scripts/rzslider.min.js")
     script(src="/scripts/erRatingsApp.js")
    
