extends layout

block nav
     +navigation("search")

block content
  div(ng-app='ERRatingsApp')
    .container(ng-controller="ERRatingsController as app",ng-init="app.search= #{JSON.stringify(search)}; app.load_search()")
        form.form-horizontal
        
         

         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/hydraulic-institute-logo.png", width="500").hidden-xs
                img(src="/images/hydraulic-institute-logo.png", width="300").hidden-md.hidden-lg.hidden-
                h3 ENERGY RATINGS PROGRAM
          .panel-body
             .form-group
               label.col-sm-3.control-label Rating ID
               .col.col-sm-6
                 input.form-control(ng-model="app.search.rating_id", type="text")
             .form-group
               label.col-sm-3.control-label Basic Model Number
               .col.col-sm-6
                 input.form-control(ng-model="app.search.basic_model", type="text")
             .form-group
               label.col-sm-3.control-label Participating Organization
               .col.col-sm-6
                 select.form-control(ng-model="app.search.participant", ng-options="p for p in app.participants")
             .form-group()
              label.col-sm-3.control-label 
               
              .col.col-sm-5
               button.btn.btn-primary(type="button", ng-click="app.getPumps(); app.searched = true") Search for Rated Pumps

         p.alert.alert-warning(ng-show="app.pumps_error") {{app.pumps_error}}
         .panel.panel-default(ng-show="(app.pumps.length > 0 || app.searched) && !app.pumps_error")
           .panel-heading
             h1 Results ({{app.pumps.length}})
           ul.list-group
           
              li(ng-repeat="pump in app.pumps").list-group-item.rating_listing
                a(href="/ratings/{{pump.rating_id}}").listing
                    .row
                        .col.col-xs-8.col-sm-6
                           h3 {{pump.basic_model}}
                           p {{pump.participant}}
                           p {{pump.doe}} - {{app.getConfigLabel(pump.configuration)}}
                        .col.hidden-xs.col-sm-4(style="padding-top:20px")
                           p {{pump.diameter}}" diameter
                           p {{pump.speed}} rpm
                           p {{pump.stages}} stages
                        .col.col-xs-4.col-sm-2.energy_badge
                           .small(style="padding-top:20px; margin-bottom:0px") Energy Rating
                           h2(style="margin-top:0px") {{pump.energy_rating}}


                 
                            