extends layout

doctype html

include calculator

block nav
     +navigation_calculator()

block content
    
   div.ng-cloak(ng-app="PEIApp")
    +calculator(false, "calculator")

   footer.footer.footerpowered
     .container(style="text-align:center")
        a(href="https://intelliquip.com").nolink
            .powered Powered by 
            img(src="/images/iq-logo.gif")