extends layout

doctype html

include calculator



block content
    
   div(ng-app="PEIApp")
    +calculator(false, "calculator")

   footer.footer
     .container(style="text-align:center")
        a(href="https://intelliquip.com").nolink
            .powered Powered by 
            img(src="/images/iq-logo.gif")