doctype xml
svg(id="qr_svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", width="620", height="620", preserveAspectRatio="xMinYMin meet", viewBox="0 0 620 620") #{name}
