
@hi_blue: #465b79;
@hi_light: #028da8;
@er_accent: #E6AF2E;

.btn-space {
    margin-left: 5px;
}

body {
    background-color:  @hi_blue;
    font-family: 'Oxygen', sans-serif;
}

.entry {
    margin-top:75px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

.entry .hi-mobile img {
    width:50px;
}

#login , #register{
    padding-top:25px;
    padding-bottom:25px;
}
.hi {
    text-align:center;
}
.er {
    font-size:18pt;
    text-align: center;
    padding-top:25px;
    color:@er_accent;
}

.er-mobile {
     font-size:16pt;
    text-align: left;
    padding-top:10px;
    color:@er_accent;
}

.form-control-static {
    padding-top:0px;
}

/* for forms appearing on pages without top navbars */
.solo {
    margin-top:2em;
}

.pei .form-group {
    padding-bottom:30px;
}

.pei .col-label {
    width:30%;
}


.pei_display, .er_display, .er_savings_display {
    font-size:42pt;
}

.er_display {
    color: @hi_blue
}
.er_savings_display{
    color: green;
}


.btn-primary,
.btn-primary:visited,
.btn-primary:focus {
    background-color: @hi_light;
    border-color: @hi_light;
}
.btn-primary:hover,
.btn-primary:active {
    background-color: spin(@hi_light, -3);
    border-color:spin(@hi_light,-3);
}

a {
    color:@hi_light;
}