
@hi_blue: #0460ab;
@er_accent: #E6AF2E;

.btn-space {
    margin-left: 5px;
}

body {
    background-color:  @hi_blue;
}

.entry {
    margin-top:75px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

.entry .hi-mobile img {
    width:50px;
}

#login , #register{
    padding-top:25px;
    padding-bottom:25px;
}

.hi {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:24pt;
    text-align: center;
    
}

.er {
    font-family: 'Libre Baskerville', serif;
    font-size:18pt;
    text-align: center;
    padding-top:25px;
    color:@er_accent;
}

.er-mobile {
    font-family: 'Libre Baskerville', serif;
    font-size:16pt;
    text-align: left;
    padding-top:10px;
    color:@er_accent;
}

.form-control-static {
    padding-top:0px;
}

/* for forms appearing on pages without top navbars */
.solo {
    margin-top:2em;
}

.pei .form-group {
    padding-bottom:30px;
}

.pei .col-label {
    width:30%;
}
