doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title HI Energy Rating Portal - Rating Listings
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    p: img(style="width:100%; max-width:500px", src="https://hi-er.herokuapp.com/images/hydraulic-institute-logo-mailhead.png")
    p Attached is your automatic energy rating listings email. 
     
    p If you have any questions about why you are receiving this email, please contact your Program Administrator

    p Thank you -
    p The Hydraulic Institute