mixin help(content)
  .help-button
    img(src="/images/help.png", height="15", width="15", data-html="true" data-helptext=(content) data-toggle="popover", data-placement="auto", data-trigger="click hover focus")