doctype html
html
  head
    
    include ../global_includes
    
    script(src="/scripts/erParticipantApp.js")
    
    block styles
      
    title HI Energy Ratings Program
    
    
  body

     mixin navigation(active)
       .navbar.navbar-default
        .container-fluid
           .navbar-header
              button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navcollapse",aria-expanded="false")
                .sr-only Toggle navigation
                .icon-bar 
                .icon-bar 
                .icon-bar 
              a.navbar-brand(href="/") 
                img(style="max-width:27px; margin-top: -7px;", src="/images/logo-big.png")
                
              
           .collapse.navbar-collapse#navcollapse
               .navbar-text HI Energy Ratings Portal
               
               ul.nav.navbar-nav
                  li(class=(active == 'home' ? 'active' : ''))
                    a(href="/participant") 
                      .glyphicon.glyphicon-home.margin-right
                      | Home
                  if user.participant_admin
                   li(class=(active == 'users' ? 'active' : ''))
                    a(href="/participant/users") 
                      .glyphicon.glyphicon-user.margin-right
                      | Users
                   li(class=(active == 'labs' ? 'active' : ''))
                    a(href="/participant/labs") 
                      .glyphicon.glyphicon-scale.margin-right
                      | Labs
                  li(class=(active == 'pumps' ? 'active' : ''))
                    
                    a(href="/participant/pumps") 
                      .glyphicon.glyphicon-th-list.margin-right
                      | Pumps
                  
                ul.nav.navbar-nav.navbar-right
                  li: a(href="/ratings/home") 
                    .glyphicon.glyphicon-eye-open.margin-right
                    | Public site
                  +unit_switch()
                  li(title="#{user.name.first} #{user.name.last} - Sign out")
                    a(href="/logout") 
                     .glyphicon.glyphicon-log-out
                     
                  li
                    a(href="/ratings/glossary", title="Help documentation", target="_blank") 
                     .glyphicon.glyphicon-question-sign

       
     //- heading stuff
     block nav
     block content
     block script