doctype html
html(ng-app='ERParticipantApp')
  head
    
    include ../global_includes
    
    script(src="scripts/erParticipantApp.js")
    
    block styles
      
    title HI Energy Ratings Program
    block script
    
  body
     //- heading stuff
     block nav
     block content