extends layout


block nav
     +navigation("new")
block content
  div(ng-app='ERParticipantApp')
    .container.pei(ng-controller="ERNewPumpController as app",ng-init="app.units = #{JSON.stringify(units)}; app.pump = #{JSON.stringify(pump)}; app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")
      .panel.panel-default.solo
        .panel-heading 
            h1 Create pump listing

        .panel-body
          form(role='form', method="post", action="new", name='new_pump')
            .row
              .col.col-xs-12
                fieldset
                  legend Basic pump information
            .row 
              .form-group
                .col.col-xs-5
                    label.text-primary Configuration:
                .col.col-xs-7
                    select.form-control(name="configuration", data-width="auto", ng-model="app.pump.configuration", ng-options="config as config.label for config in app.configurations track by config.value")
            
            .row
               
                .form-group
                  .col.col-xs-5
                    label.text-primary Pump Brand
                  .col.col-xs-7.col-sm-4
                    input.form-control(name="brand", id="brand", type="text" ng-model="app.pump.brand")
            
            .row
               
                .form-group
                  .col.col-xs-5
                    label.text-primary Basic Model Designation
                  .col.col-xs-7.col-sm-4
                    input.form-control(name="basic_model", id="basic_model", type="text" ng-model="app.pump.basic_model")

            
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Model Full Impeller Diameter ({{app.units.diameter.label}})
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(name="diameter", type="number" ng-model="app.pump.diameter", min="0", step=".0625")
                    
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Nominal speed of rotation
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" name="speed", ng-model="app.pump.speed", value="3600") 
                      | 3600 rpm
                    label.radio-inline
                      input(type="radio" name="speed", ng-model="app.pump.speed", value="1800") 
                      | 1800 rpm
            .row
               .form-group
                  .col.col-xs-5
                    label.text-primary Number of stages tested
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="1", name="stages", ng-model="app.pump.stages")
     
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary HI Approved Laboratory Registration Number
                  .col.col-xs-7.col-sm-4
                    input.form-control(name="laboratory", type="text", ng-model="app.pump.laboratory")     
            
            hr           
            .row
               input(type="hidden" id="pei_type", ng-model="app.pump.pei", name="pei_input_type")
               .form-group
                  .col.col-lg-12
                    button.btn.btn-primary(type="button", ng-disabled = "app.new_missing()", ng-click="app.manual()") Next
