extends layout
include ../common/user_list

mixin warning(field, message)
  p(ng-show="settingsForm."+field+".$invalid && !settingsForm."+field+".$pristine").text-danger #{message}

block nav
    +navigation("home")
    
block content
    .container(ng-controller="ERParticipantController as app",ng-init="app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")

        form(name="settingsForm",ng-submit="app.saveParticipant(settingsForm.$valid)", novalidate)
             .panel.panel-default
               .panel-heading
                    .pull-right
                        a(href="#", ng-hide="vm.edit_settings", ng-click="vm.edit_settings = true") Edit organizational settings
                        button.btn.btn-primary(type="submit", ng-show="vm.edit_settings", ng-disabled="settingsForm.$invalid") Save changes
                        a.btn.btn-default.btn-space(type="button", href="javascript:window.location.reload(true)", ng-show="vm.edit_settings", ) Cancel
                    h4 Organization Profile

               .panel-body(ng-hide="vm.edit_settings")     
                   h1 {{app.participant.name}}
                   fieldset
                     legend Mailing Address
                   address
                     strong {{app.participant.name}}
                     br 
                     | {{app.participant.address.street}}
                     br 
                     | {{app.participant.address.street2}}
                     br 
                     | {{app.participant.address.city}}, {{app.participant.address.state}} {{app.participant.address.zip}}
                     br 
                     | {{app.participant.address.country}}
                   fieldset
                     legend Contact information
                   address
                     strong {{app.participant.contact.name.first}} {{app.participant.contact.name.last}}
                     br
                     a(href="mailto:{{app.participant.contact.email}}") {{app.participant.contact.email}}
                     br
                     a(href="tel:{{app.participant.contact.phone}}") {{app.participant.contact.phone}}
          

               .panel-body(ng-show="vm.edit_settings")
                 fieldset
                   legend Organization Name
                 .row 
                   .col.col-md-12
                     .form-group
                        input.form-control(type="text", name="name", ng-model="app.participant.name", required)
                        +warning("name", "Organization name is required")
                        .help-block Please use your organization's full legal name.  All Energy Rating labels and listings will contain this value.
                 fieldset
                   legend Contact Person
                 .row
                    .col.col-md-6
                        .form-group
                            label First Name
                            input.form-control(type="text", name="firstName", ng-model="app.participant.contact.name.first", required)
                            +warning("firstName", "Contact's first name is required")
                    .col.col-md-6
                        .form-group
                            label Last Name
                            input.form-control(type="text", name="lastName", ng-model="app.participant.contact.name.last", required)
                            +warning("lastName", "Contact's last name is required")
                 .row
                    .col.col-md-6
                        .form-group
                            label Email Address
                            input.form-control(type="email", name="email", ng-model="app.participant.contact.email", required)
                            +warning("email", "Contact's email address is required")
                    .col.col-md-6
                        .form-group
                            label Phone
                            input.form-control(type="phone", name="phone", ng-model="app.participant.contact.phone", required)
                            +warning("phone", "Contact's phone number is required")
                 fieldset
                   legend Mailing address
                   
                 .row
                    .col.col-md-12
                        .form-group
                            label Street
                            input.form-control(type="text", name="street", ng-model="app.participant.address.street", required)
                            +warning("street", "Street address is required")
                 .row
                    .col.col-md-12
                        .form-group
                            label Street (second line)
                            input.form-control(type="text", name="street2", ng-model="app.participant.address.street2")
                 .row
                    .col.col-md-5
                        .form-group
                            label City
                            input.form-control(type="text", name="city", ng-model="app.participant.address.city", required)
                            +warning("city", "City is required")
                    .col.col-md-4
                        .form-group
                            label State / Province
                            input.form-control(type="text", name="state", ng-model="app.participant.address.state", required)
                            +warning("state", "State / Province / Region is required")
                    .col.col-md-3
                        .form-group
                            label Postal code
                            input.form-control(type="text", name="zip", ng-model="app.participant.address.zip", required)
                            +warning("zip", "Postal code / zip code is required")
                 .row
                    .col.col-md-5  
                      .form-group
                        label Country
                        input.form-control(type="text", name="country", ng-model="app.participant.address.country", required)
                        +warning("country", "Country is required")

            .panel.panel-default
               .panel-heading
                    h4 Subscription level
               .panel-body
                    h4 {{app.participant.pumps ? app.participant.pumps.length : 0}} of {{app.participant.pumpLimit}} available pump listings are being used.
                    a(href="/participant/purchase") Upgrade your subscription level

                    
        
       