extends layout


block nav
     +navigation("pumps")
block content
 div(ng-app='ERParticipantApp')
    .container(ng-controller="ERParticipantController as app",ng-init="app.units = #{JSON.stringify(units)}; app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")

      .panel.panel-default
        .panel-heading 
            h1 Pump listings
        .panel-body
          .row
            
            if subcription_limit
              .col.col-xs-12
               .alert.alert-warning You have reached the maximum number of pump listings your account subscription allows.
            else 
              .col.col-xs-12
               .btn-group
                button(type="button", data-toggle="dropdown").btn.btn-primary.dropdown-toggle 
                  .glyphicon.glyphicon-plus 
                  span.btn-space New Pump 
                  span.btn-space.caret
                us.dropdown-menu
                  li: a(href="pumps/new") Create new pump listing using web form
                  li: a(href="pumps/upload") Upload new pump(s) with template
               a.btn.btn-default.btn-space(href="/participant/pumps/download") Download pumps
          .row.solo
           .col.col-xs-12
            .table-responsive
              table.table.table-striped
                thead
                 tr 
                  th
                  th ID
                  th Basic Model Designation
                  th Configuration
                  th DOE Pump Category
                  th Impeller (#{units.diameter.label})
                  th Nominal speed (rpm)
                  th PEI
                  th ER
                  th
                tbody
                 tr(ng-repeat="pump in app.participant.pumps")
                  td
                    img(height="25" width="25" ng-src="/images/{{pump.listed && pump.active_admin ? 'active' : 'inactive'}}.png")
                  td {{pump.rating_id}}
                  td: a(href="pumps/{{pump._id}}") {{pump.basic_model}}
                  td {{app.getConfigLabel(pump.configuration)}}
                  td {{pump.doe}}
                  td {{pump.diameter * app.units.diameter.factor | number:3}}
                  td {{pump.speed}}
                  td {{pump.pei | number:4}}
                  td {{pump.energy_rating}} 
                  
                  td 
                     button(type="button", ng-click="app.removePump(pump)").btn.btn-danger.btn-xs Delete

