extends layout
include ../common/user_list

block nav
     +navigation("pumps")
block content
   .container
        .page-header 
            h1 Pump listings

        .row
            .col.col-xs-12
                .alert.alert-warning Pump listings not available yet.
        
