extends layout
include ../common/user_list

block nav
     +navigation("pumps")
block content
   .container
    .panel.panel-default
      .panel-heading 
            h1 Pump listings
      .panel-body
        .row
            .col.col-xs-12
                .alert.alert-warning Pump listings not available yet.
        
