extends layout
include ../common/user_list

block nav
     +navigation("users")
block content
  div.ng-cloak(ng-app='ERParticipantApp')
    .container(ng-controller="ERParticipantController as app",ng-init="app.user= #{JSON.stringify(user)}")

        +userlist(true)
      
        
