extends layout
include ../common/user_list

block nav
     +navigation("users")
block content
    .container(ng-controller="ERParticipantController as app",ng-init="app.user= #{JSON.stringify(user)}")

        +userlist()
      
        
