extends layout


block nav
     +navigation("purchase")
block content
  div.ng-cloak(ng-app='ERParticipantApp')

    .container
      .panel.panel-default
        .panel-heading 
            h1 Purchase / Subscribe

        .panel-body
            p Payments handled offline during MVP / beta
      
        
