extends layout


block nav
     +navigation("upload")
block content
  div(ng-app='ERParticipantApp')

    .container
      .panel.panel-default
        .panel-heading 
            h1 Upload pump listings
        .panel-body
          
          form(action="upload", method="post", enctype="multipart/form-data")
           .row
            .col.col-md-6
              .form-group
                label Template file
                input.form-control(type="file",name="template", size="40")
              .form-group
                button(type="submit")#go.btn.btn-primary Upload and list pumps
              
