extends layout


block nav
     +navigation("upload")
block content
  div(ng-app='ERParticipantApp')

    .container
      .panel.panel-default
        .panel-heading 
            h1 Upload pump listings

        .panel-default
          form(action="upload", method="post", enctype="multipart/form-data")
            input(type="file",name="template", size="40")
            button(type="submit")#go.btn.btn-primary Upload and list pumps
            
