extends ../layout
block nav
     +navigation("certificates")
block styles
    style.
        .tile {
            padding-left:5em;
            padding-right:5em;
        }
block content
    .container#vue(v-cloak, data-units=(JSON.stringify(units)))
        
         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), width="600").hidden-xs
                img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), style="width:80%").hidden-md.hidden-lg.hidden-sm
                
          .panel-body
            form(action=`/ratings/certificates/purchased/${transaction._id}`, method='post')
                p.alert.alert-warning
                    | This is only a placeholder, instead of going to this page, the user would be sent to the EStore.
                    | Click the "Purchase" button below to continue the workflow as if you've purchased the certificates.

                p
                    b Implementation / Integration plan:  
                    span 
                        | The EStore will receive a transaction ID and number of certificates being purchased.  The transaction
                        | ID will be important for the user to hold onto - perhaps the EStore can email it to them so they have it.  It
                        | will also be displayed on the next page.
                p 
                    | Once the purchase is complete, the EStore will need to make an HTTP post to 
                    code /ratings/certificates/purchased/[transaction id]
                    |  with an authentication code in the HTTP body.
                p
                    button.btn.btn-info(type='submit') Purchase
                                    
                
              
                
                 
    
    