extends ../layout
block nav
     +navigation("certificates")
block styles
    style.
        .tile {
            padding-left:5em;
            padding-right:5em;
        }
block content
   .container
        form.form-horizontal
         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/hydraulic-institute-logo.png", width="600").hidden-xs
                img(src="/images/hydraulic-institute-logo.png", style="width:80%").hidden-md.hidden-lg.hidden-sm
                
          .panel-body
            .row
              .col.col-sm-12
                p 
                 | The Hydraulic Institute acknowledges that applications may dictate that motors more efficient than the default in the guiding standards or continuous controls may be added to basic models listed in the Energy Rating Database. For these cases, Energy Rating Program participants, nonparticipants, and end-users may generate a Energy Rating (ER) Certificate that indicates the new Energy Rating. The ER Certificate is only available when a motor regulated under 10 CFR 431.25 with an efficiency greater than the default values in the guiding standards or a continuous control are added. ER Certificates are serialized and only applicable for one installation. 
            .row.ratings_home
              .col.col-sm-6.tile
                a(href="/ratings/certificates/create")
                    h1 
                        .glyphicon.glyphicon-plus.margin-right
                        | Create ER Certificate
                    p Search for pumps by Basic Model Number, Manufacturer, and Rating IS - which can be found on the Hydraulic Institute's Energy Rating label distributed with the pump.
              .col.col-sm-6.tile
                a(href="/ratings/certificates/search")
                    h1 
                        .glyphicon.glyphicon-unchecked.margin-right
                        | Find an ER Certificate
                    p Search for ER Certificates by the certificate serial number.
              
            .row(style='margin-top:2em'): .col.col-xs-12: .well
             p All Pump Energy Index (PEI) representations are made by the participating pump manufacturer. The Hydraulic Institute makes no representation or warranty as to the suitability of the PEI information provided and does not purport to verify its accuracy. It is the responsibility of each participating pump manufacturer to ensure that all representations in this Energy Rating database are made in accordance with the requirements of the HI 40.5 Program Guide for the HI Energy Rating Program, as well as with applicable regulatory requirements. Decisions based upon this material are the exclusive responsibility of the user. The Hydraulic Institute assumes no responsibility for any direct, indirect, special, incidental, or consequential damages arising from manufacturers’ listings in the Energy Rating database.
          