extends ../layout
block nav
     +navigation("certificates")
block styles
    style.
        .tile {
            padding-left:5em;
            padding-right:5em;
        }
block content
   .container
        form.form-horizontal
         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/hydraulic-institute-logo.png", width="600").hidden-xs
                img(src="/images/hydraulic-institute-logo.png", style="width:80%").hidden-md.hidden-lg.hidden-sm
                
          .panel-body
            .row
              .col.col-sm-12
                p 
                 | HI developed the standard, HI 40.6, for testing pumps and determining their efficiency in a uniform and consistent manner.  The US Department of Energy (DOE) published an Energy Conservation Standard (ECS) and Uniform Test Procedure (TP) for Pumps on January 27, 2016; and in the uniform test procedure, HI 40.6 is incorporated by reference.  The ECS and TP can be referenced at 10 CFR 431.465 and 10 CFR 431.464 & Appendix A to Subpart Y.  
                 a(href="http://www.ecfr.gov") www.ecfr.gov
                p 
                 | HI manages a Pump Test Lab Approval Program (PTLAP) (HI 40.7, 
                 a(href="http://www.pumps.org/40.7") www.pumps.org/40.7
                 | ), which enables pump test laboratories to establish through a third party that they have the knowledge, tools and processes in place, and are testing according to the HI 40.6 standard and managing their measurement equipment according to ISO 17025.
                p
                 | The HI Energy Rating (ER) Program (HI 40.5, 
                 a(href="http://www.pumps.org/40.5") www.pumps.org/40.5
                 |  builds on the ECS, TP and HI PTLAP. The HI ER Program defines process to participate in the program, scope of the program and requirements to list pumps with an Energy Rating.
                p As part of the program, this website allows corporations to apply to participate through the ER Program Portal, and the public to search for pump energy rating listings, and analyze the distribution of pumps in the program.

                //- p The HI 40.5 Program Guide for the HI Pump Energy Rating Program can be freely downloaded by clicking here.
                
            .row.ratings_home
              .col.col-sm-6.tile
                a(href="/ratings/certificates/create")
                    h1 
                        .glyphicon.glyphicon-plus.margin-right
                        | Create ER Certificate
                    p Search for pumps by Basic Model Number, Manufacturer, and Rating IS - which can be found on the Hydraulic Institute's Energy Rating label distributed with the pump.
              .col.col-sm-6.tile
                a(href="/ratings/certificates/search")
                    h1 
                        .glyphicon.glyphicon-unchecked.margin-right
                        | Find an ER Certificate
                    p Search for ER Certificates by the certificate serial number.
              
            .row(style='margin-top:2em'): .col.col-xs-12: .well
             p All Pump Energy Index (PEI) representations are made by the participating pump manufacturer. The Hydraulic Institute makes no representation or warranty as to the suitability of the PEI information provided and does not purport to verify its accuracy. It is the responsibility of each participating pump manufacturer to ensure that all representations in this Energy Rating database are made in accordance with the requirements of the HI 40.5 Program Guide for the HI Energy Rating Program, as well as with applicable regulatory requirements. Decisions based upon this material are the exclusive responsibility of the user. The Hydraulic Institute assumes no responsibility for any direct, indirect, special, incidental, or consequential damages arising from manufacturers’ listings in the Energy Rating database.
          