extends ../layout
block nav
     +navigation("certificates")
block styles
    style.
        .tile {
            padding-left:5em;
            padding-right:5em;
        }

block content
    .container#vue(v-cloak, data-units=(JSON.stringify(units)), data-search=(JSON.stringify(search)), data-companies=(JSON.stringify(companies)))
        form.form-horizontal
         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), width="600").hidden-xs
                img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), style="width:80%").hidden-md.hidden-lg.hidden-sm
          .panel-body
             .form-group
               label.col-sm-3.control-label Certificate Serial Number
               .col.col-sm-6
                 input.form-control(v-model="search.cnumber", type="text")
             .form-group
               label.col-sm-3.control-label Packager
               .col.col-sm-6
                 select.form-control(v-model="search.company")
                  option(value="")
                  each c in companies
                    option(value=c) #{c}
             .form-group(v-if='search_valid', style='text-align:center; padding:2em')
                button.btn.btn-primary(type="button", v-on:click="search_certificates();") Search for Certificates
             .form-group(v-else, style='text-align:center; padding:2em')
                p.alert.alert-warning You must enter at least one of the following:  Certificate Serial Number or Packager
         .panel.panel-default(v-show="(certificates.length > 0 || searched) && search_valid")
          .panel-body
            .row
                .col.col-sm-12
                    span.help-block(style='padding-bottom:0;margin-bottom:0px') {{certificates_pager.items}} Certificates found
                    br
                    ul.pagination.pagination-sm.justify-content-center(style='margin-top:0px;', v-if=`certificates_pager.total_pages > 1`)
                        li.page-item.clickable: span.page-link(v-on:click=`certificates_pager.page--`) &laquo;
                        li.page-item.clickable(v-for=`page in certificates_pager.pages`, v-bind:class=`{active: certificates_pager.page == page, pegged: page == 0 || page == certificates_pager.totalPages-1}`, v-on:click=`certificates_pager.page = page`): span.page-link {{page+1}}
                        li.page-item.clickable: span.page-link(v-on:click=`certificates_pager.page++`) &raquo;
                   
                
           ul.list-group
              li(v-for="certificate in certificates", v-on:click='window.location = "/ratings/certificates/certificate/"+certificate.certificate_number').list-group-item.rating_listing
                
                    .row.listing
                        .col.col-xs-7.col-sm-5
                           h3 
                            span
                                b Serial #: 
                                a(v-bind:href="'/ratings/certificates/certificate/'+certificate.certificate_number") {{certificate.certificate_number}}
                           h3 
                            span(v-if='certificate.pump && certificate.pump.brand') {{certificate.pump.brand}} / {{certificate.pump.basic_model}}
                            span(v-else-if='certificate.pump && certificate.pump.basic_model') {{certificate.pump.basic_model}}
                            span(v-else, style='color:red;') Unknown
                            br
                            span(v-if='certificate.packager.company == "xx"', style="color:red;") Issuer: {{certificate.packager.company}} 
                            span(v-else) Issuer: {{certificate.packager.company}}
                           p
                            span 
                                b Rating ID:  
                                a(v-if='certificate.pump', v-bind:href="'/ratings/' + certificate.pump.rating_id", target="_blank") {{certificate.pump.rating_id}}
                                a(v-else, style='color:red;') Unknown
                         .col.hidden-xs.col.hidden-sm.col-md-3(style="padding-top:20px")
                           p(v-if='certificate.motor && certificate.motor.model')
                            span 
                                b Motor Manufacturer: 
                                | {{certificate.motor.manufacturer}}
                            br
                            span 
                                b Motor Model #: 
                                | {{certificate.motor.model}}
                           p(v-if='certificate.vfd && certificate.vfd.model')
                            span 
                                b VFD Manufactuer:  
                                | {{certificate.vfd.manufacturer}}
                            br
                            span 
                                b VFD Model #:  
                                | {{certificate.vfd.model}}
                           
                           
                           
                        .col.col-sm-2.energy_badge(style='border-right: thin solid rgb(221, 221, 221)')
                           .small(style="padding-top:20px; margin-bottom:0px") Energy Rating
                           h2(v-if='certificate.pump', style="margin-top:0px") {{certificate.pump.energy_rating}}
                           h2(v-else, style='color:red;') Unknown
                           .small(style="padding:unset;") PEI
                           h4(v-if='certificate.pump', style='margin-top:0px') {{certificate.pump.pei.toFixed(2)}}
                           h4(v-else, style='color:red;') Unknown
                           .small(v-if="certificate.cee_tier", style="padding:unset; margin-bottom:0px") CEE
                           h4(v-if="certificate.cee_tier", style='margin-top:0px') Tier {{certificate.cee_tier}}
                        .col.col-sm-2.energy_badge
                           .small(style="padding-top:20px; margin-bottom:0px") Extended Energy Rating
                           h2(style="margin-top:0px") {{certificate.energy_rating}}
                        
    script(src="/scripts/certificates/search.js")
    