doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title HI Energy Rating Portal - Password Reset
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    p: img(style="width:100%; max-width:500px", src="https://hi-er.herokuapp.com/images/hydraulic-institute-logo-mailhead.png")
    h1 Hello #{user.name.first},
    p 
        | You have requested to reset your password for the Hydraulic Institute's Energy Ratings Program.  Below is a link for you to do so.
    p: a(href=reset_link) #{reset_link}
    
    p If you do not remember requesting this password reset, please contact your organization's Enery Ratings Portal Administrator.
    
    p Thank you -
    p The Hydraulic Institute