extends ../layout

block content
    .container
        .panel.panel-default.solo
            .panel-heading 
                h1 Password Reset

            .panel-body
                p.text-info
                    | To reset your password, enter the email address associated with your account.  A reset link will be emailed to you, which will let you change your password.
                p.text-info
                    | If you cannot remember the email address associated with your account, please contact your organization's portal administrator.
                hr
                form(method="post" action="/password")
                  .row
                    .col.col-md-6
                        .form-group
                            label Email:
                            input.form-control(type="email", name="email")
                  if messages.message
                    .row
                      .col.col-md-6
                        .alert.alert-warning #{messages.message}
                  if messages.success
                    .row
                     .col.col-md-6
                       .alert.alert-success #{messages.success}
                   
                  .row
                    .col.col-sm-4
                        button.btn.btn-primary(type="submit") Send password reset email 
                    
                  
        
